.input_wrapp {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.input_container {
    display: flex;
    align-items: center;
    position: relative;
}

.input_container input {
    width: 100%;
    padding-left: 40px; /* Adjust space to make room for the icon */
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.input_icon {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form_btn {
    background-color: var(--sec_color);
    flex-grow: 1;
    position: relative;
    padding: 1.2rem 2rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.form_btn button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

}